
.Blog ul {
    list-style: none;
    margin: 10;
    padding: 0;
    text-align: center;
}

.Blog li {
    display: inline;
    margin: 20px;
}
.Blog a {
    text-decoration: none;
    color:black;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active {
    color: darkorange;
} 